<!DOCTYPE html>
<html>
  <head>
    <title>UnBlended</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  <% if logged_in? %>
  <script type="text/javascript">
      window.currentUser = <%= render(
          "api/users/user.json.jbuilder", 
          user: current_user
      ).html_safe  %>
  </script>
  <% end %>
  <meta property="og:title" content="Unblended" />
  <meta property="og:type" content="Website">
  <meta property='og:image' content="<%= image_url('unblended-snippet.png') %>"/>
  <meta property="og:description"
    content="A social network for discovering new whiskeys and sharing them with your friends!"
  />
  <meta property="og:url"
    content="https://unblended.herokuapp.com/#/"
  />
  <script type='text/javascript'>
    window.mastheadImg = "<%= image_url('header/masthead-img-main.png')%>";
    window.logo = "<%= image_url('header/logo.png')%>";
  </script>
<%# 
  <script src="https://kit.fontawesome.com/62b97cf2d6.js" crossorigin="anonymous"></script> %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
